<h1>Tags List</h1>
<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= tag.name%> 
      <%= link_to "delete", tag_path(@tag), method: :delete, data: {confirm: "Really delete the tag?"} %>   
    </li>
  <% end %>
</ul>